body {
  font-family: Inter, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 40px;
}

button {
  padding: 20px 24px;
  font-size: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: #f9f9f9;
}

button:active {
  background-color: #f6f6f6;
}

.container {
  width: 100%;
  margin: 120px auto;
}

.header {
  margin-bottom: 40px;
  text-align: center;
}
.game-buttons {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.scores {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  height: 200px;
  font-size: 18px;
}

.emoji {
  font-size: 60px;
  text-align: center;
}

.round-result {
  text-align: center;
  font-size: 18px;
}

.scorebox {
  width: 120px;
  text-align: center;
}